<html>
<head> <title> Event  </title></head>
<body>
  <table *ngFor="let event of events" >
    <th> Tableau d'évenements</th>
    <tr>
      <td> Id </td>
      <td> {{ event.idevent }} </td>
    </tr>
    <tr>
      <td> Matricule </td>
      <td> {{ event.mat }}</td>
    </tr>
    <tr>
      <td> Date d'évenement </td>
      <td> {{ event.dateevent.toString().split("T")[0] }}</td>
    </tr>
    <tr>
      <td> Heure d'évenement </td>
      <td> {{ event.heureevent.hours+":"+event.heureevent.minutes+":"+event.heureevent.seconds }} </td>
    </tr>
    <tr>
      <td> Autorisation </td>
      <td> {{ event.autorise }}</td>
    </tr>
    <tr>
      <td> Flux </td>
      <td> {{ event.flux }}</td>
    </tr>
    <tr>
      <td> Photo </td>
      <td>
      <img src="data:image/png;base64,{{event.photo}}"/> </td>
    </tr>
  </table>
</body>
</html>
