<!doctype html>
<html lang="en">
  <head>
  	<title>Table 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
			
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center mb-4">Event</h4>
					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th>ID</th>
					        <th>MATRCULE</th>
					        <th>DATE D'EVENEMENT</th>
					        <th>HEURE D'EVENEMENT</th>
					        <th> AUTORISATION</th>
					        <th>Register</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr *ngFor="let event of events">
					        <th scope="row" class="scope" >{{ event.idevent }}/th>
					        <td> {{ event.mat }}</td>
					        <td>{{ event.dateevent.toString().split("T")[0] }}</td>
					        <td> {{ event.heureevent.hours+":"+event.heureevent.minutes+":"+event.heureevent.seconds }}</td>
					        <td>{{ event.autorise }}</td>
                  <td>{{ event.autorise }}</td>
					        <td><button class="btn btn-primary">Voir l'image</button></td>
					      </tr>
					     
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

