<html>
<head> <title> Event  </title></head>
<body>
  <p>Tableau d'évenements</p>

  <table *ngFor="let event of events" >
    <tr>
      <th> Id </th>
      <th> Matricule </th>
      <th> Date d'évenement </th>
      <th> Heure d'évenement </th>
      <th> Autorisation </th>
      <th> Flux </th>
      <th> Photo </th>
    </tr>
    <tr>
      <td> {{ event.idevent }} </td>

      <td> {{ event.mat }}</td>
      <td> {{ event.dateevent.toString().split("T")[0] }}</td>
      <td> {{ event.heureevent.hours+":"+event.heureevent.minutes+":"+event.heureevent.seconds }} </td>
      <td> {{ event.autorise }}</td>
      <td> {{ event.flux }}</td>
      <td><img src="data:image/png;base64,{{event.photo}}"/> </td>

    </tr>

  </table>
</body>
</html>
