<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings>   
	      <clear />  
        <add name="truckflowdb" connectionString="server=localhost;database=truckflow;port=3306;user=root;password=;" />
    </connectionStrings>
	<appSettings>     
		<add key="cameraapi" value="http://localhost:5000/getphoto" />
</appSettings>

</configuration>